<!DOCTYPE html>
<html lang="uk">
<head>
  <title>ГРА «ЗНАЙДИ СВОЮ ФІНАНСОВУ АВТОНОМІЮ</title>
  <link rel="stylesheet/less" href="./style.less"/>
  <link rel="icon" href="images/favicon.ico" type="image/x-icon">
  <script src="js/less.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>
<div id='app'>
  <div class="board">
    <div class="slides">
      <div class="next" :class="{'hidden-none':nextStatus}"
           @click="changeSlide">
        ДАЛІ ->
      </div>
      <div v-if="numberSlides===0" class="slide-0">
        <div class="first-slide">
          <div>Знайди свою фінансову автономію</div>
          <div class="start" @click="changeSlide">ПОЧАТИ</div>
        </div>
        <div class="logo">
          <img src="images/logo1.png" alt="логотип центр культурного менеджменту">
          <img src="images/logo2.png" alt="логотип Embassy">
        </div>
      </div>
      <div v-if="numberSlides===1" class="slide-1">
      </div>
      <div v-if="numberSlides===2" class="slide-2">
      </div>
      <div v-if="numberSlides===3" class="slide-3">
      </div>
      <div v-if="numberSlides===4" class="slide-4">
      </div>
      <div v-if="numberSlides===5" class="slide-5">
        <div class="puzzle-block" :class="{'hidden-puzzle': puzzleIsHidden}">
          <div class="task-puzzle"> Завдання: складіть пазл</div>
          <div class="skrynya">
            <div @click="selectImage" id="skrynya2" class="skrynya1 top-right"></div>
            <div @click="selectImage" id="skrynya3" class="skrynya3 bottom-right"></div>
            <div @click="selectImage" id="skrynya1" class="skrynya4 top-left"></div>
            <div @click="selectImage" id="skrynya4" class="skrynya2 bottom-left"></div>
          </div>
        </div>
      </div>
      <div v-if="numberSlides===6" class="slide-6">
        <div class="task" id="task-door"> Завдання: візьміть ключ, відімкніть замок</div>
        <div class="outside hidden">
          <div class="task">Зараз потрібно буде пройти смугу перешкод</div>
          <div class="exit" @click="changeSlide">
            ДАЛІ ->
          </div>
        </div>
        <div class="door-lock">
          <div class="doors">
            <img src="images/door-left.png" alt="двері" class="door door-left"></img>
            <img src="images/door-right.png" alt="двері" class="door door-right"></img>
          </div>
          <img src="images/lock.png" @click="selectLock('lock')" class="lock"></div>
      </div>
      <div v-if="numberSlides===7" class="slide-7">
        <div class="blocking">
          <h4>ЗАСНОВНИК</h4>
          <img src="images/rock.png" alt="скелі" alt="скеля гора"></img></div>
        <div v-if="numberCurrentQuestion===1" class="test-block" id="q10-1">
          {{questions.s10[0].question}}
          <div v-for="ans,aIndex in questions.s10[0].allAnswers"
               :key="ans.title"
               :title="ans.title">
            <label>
              <input type="checkbox"
                     :value="ans.value"
                     @change="controlAnswer('s10',0)"
                     v-model="answers.s10[0]">{{ans.title}}
            </label>
          </div>
          <div class="exit" :class="{unValid: isNotRight}" @click="changeQuestion('s10',0)">
            ДАЛІ ->
          </div>
        </div>
        <div v-if="numberCurrentQuestion===2" class="test-block" id="q10-2">
          {{questions.s10[1].question}}
          <div v-for="ans,aIndex in questions.s10[1].allAnswers"
               :key="ans.title"
               :title="ans.title">
            <label>
              <input type="checkbox"
                     :value="ans.value"
                     @change="controlAnswer('s10',1)"
                     v-model="answers.s10[1]">{{ans.title}}
            </label>
          </div>
          <div class="exit" :class="{unValid: isNotRight}" @click="changeQuestion('s10',1)">
            ДАЛІ ->
          </div>
        </div>
      </div>

      <div v-if="numberSlides===8" class="slide-8">
        <div class="blocking"><h4 class="text-fire">АДМІНІСТРАЦІЯ ШКОЛИ</h4>
          <svg class="fire-icon fire-right" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 74 74" width="512"
               height="512">
            <path d="M38.4,72a22.488,22.488,0,0,
        1-7.762-1.351h0c-8.918-3.269-14.867-8.417-17.68-15.3-4.617-11.3.865-23.076,
        1.1-23.571a1,1,0,0,1,1.867.161,13.173,13.173,0,0,0,4.1,5.836c2.289-11.488,
        12.31-18.44,12.755-18.745,6.466-5.176,1.185-15.46,1.131-15.563a1,1,0,0,1,
        1.515-1.241C53.233,16.676,52.209,31.23,50.772,37.21A9.7,9.7,0,0,0,54.4,28.236a1,
        1,0,0,1,1.818-.7,45.31,45.31,0,0,1,4.674,9.623A27.328,27.328,0,0,1,
        56.2,63.527l-.214.261A22.7,22.7,0,0,1,38.4,72Zm-7.074-3.229A20.492,20.492,
        0,0,0,38.4,70,20.71,20.71,0,0,0,54.44,62.516l.2-.25A25.34,25.34,0,0,0,59,37.821a45.333,
        45.333,0,0,0-2.688-6.149c-1.1,6.017-6.857,8.815-6.927,8.848a1,1,0,0,1-1.332-1.331c.316-.678,
        7.2-16.1-10.92-32.841,1.156,4.007,1.847,10.274-3.171,14.288-.167.118-10.787,7.506-12.237,
        19.1a1,1,0,0,1-1.554.7A18.559,18.559,0,0,1,15,34.859C13.687,38.7,11.659,46.9,14.814,54.6c2.594,
        6.335,8.149,11.1,16.511,14.166Z"/>
            <path d="M34.139,71.592a1,1,0,0,1-.644-.235C20.752,
        60.615,29.73,46.878,29.822,46.741a1,1,0,0,1,1.829.494,6.707,6.707,0,0,0,1.56,4.191,20.323,
        20.323,0,0,1,8.815-19.648A1,1,0,0,1,43.418,33.1a6.942,6.942,0,0,0-.806,3.385,7.34,7.34,0,0,0,
        1.256,3.837l.4.611a62.7,62.7,0,0,0,4.3,5.662,17.628,17.628,0,0,1,2.839,4.833c5.012,10.333-3.6,
        18.478-3.684,18.56a1,1,0,0,1-1.36-1.466c.313-.292,7.625-7.26,3.223-16.265a.966.966,0,0,
        1-.045-.109,15.726,15.726,0,0,0-2.512-4.275,64.528,64.528,0,0,1-4.437-5.845l-.4-.611a9.341,9.341,0,0,
        1-1.582-4.89,9,9,0,0,1,.052-1.167c-2.88,2.723-7.1,8.52-5.11,18a1,1,0,0,1-1.269,
      1.163,6.829,6.829,0,0,1-4.06-4.287c-1.774,4.04-3.9,12.461,4.559,19.594a1,1,0,0,1-.645,1.765Z"/>
          </svg>
          <svg class="fire-icon fire-left" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 74 74">
            <path d="M38.4,72a22.488,22.488,0,0,
                  1-7.762-1.351h0c-8.918-3.269-14.867-8.417-17.68-15.3-4.617-11.3.865-23.076,
                  1.1-23.571a1,1,0,0,1,1.867.161,13.173,13.173,0,0,0,4.1,5.836c2.289-11.488,
                  12.31-18.44,12.755-18.745,6.466-5.176,1.185-15.46,1.131-15.563a1,1,0,0,1,
                  1.515-1.241C53.233,16.676,52.209,31.23,50.772,37.21A9.7,9.7,0,0,0,54.4,28.236a1,
                  1,0,0,1,1.818-.7,45.31,45.31,0,0,1,4.674,9.623A27.328,27.328,0,0,1,
                  56.2,63.527l-.214.261A22.7,22.7,0,0,1,38.4,72Zm-7.074-3.229A20.492,20.492,
                  0,0,0,38.4,70,20.71,20.71,0,0,0,54.44,62.516l.2-.25A25.34,25.34,0,0,0,59,37.821a45.333,
                  45.333,0,0,0-2.688-6.149c-1.1,6.017-6.857,8.815-6.927,8.848a1,1,0,0,1-1.332-1.331c.316-.678,
                  7.2-16.1-10.92-32.841,1.156,4.007,1.847,10.274-3.171,14.288-.167.118-10.787,7.506-12.237,
                  19.1a1,1,0,0,1-1.554.7A18.559,18.559,0,0,1,15,34.859C13.687,38.7,11.659,46.9,14.814,54.6c2.594,
                  6.335,8.149,11.1,16.511,14.166Z"/>
            <path d="M34.139,71.592a1,1,0,0,1-.644-.235C20.752,
                  60.615,29.73,46.878,29.822,46.741a1,1,0,0,1,1.829.494,6.707,6.707,0,0,0,1.56,4.191,20.323,
                  20.323,0,0,1,8.815-19.648A1,1,0,0,1,43.418,33.1a6.942,6.942,0,0,0-.806,3.385,7.34,7.34,0,0,0,
                  1.256,3.837l.4.611a62.7,62.7,0,0,0,4.3,5.662,17.628,17.628,0,0,1,2.839,4.833c5.012,10.333-3.6,
                  18.478-3.684,18.56a1,1,0,0,1-1.36-1.466c.313-.292,7.625-7.26,3.223-16.265a.966.966,0,0,
                  1-.045-.109,15.726,15.726,0,0,0-2.512-4.275,64.528,64.528,0,0,1-4.437-5.845l-.4-.611a9.341,9.341,0,0,
                  1-1.582-4.89,9,9,0,0,1,.052-1.167c-2.88,2.723-7.1,8.52-5.11,18a1,1,0,0,1-1.269,
                1.163,6.829,6.829,0,0,1-4.06-4.287c-1.774,4.04-3.9,12.461,4.559,19.594a1,1,0,0,1-.645,1.765Z"/>
          </svg>
        </div>
        <div v-if="numberCurrentQuestion===1" class="test-block" id="q11-1">
          {{questions.s11[0].question}}
          <div v-for="ans,aIndex in questions.s11[0].allAnswers"
               :key="ans.title"
               :title="ans.title">
            <label>
              <input type="checkbox"
                     :value="ans.value"
                     @change="controlAnswer('s11',0)"
                     v-model="answers.s11[0]">{{ans.title}}
            </label>
          </div>
          <div class="exit" :class="{unValid: isNotRight}" @click="changeQuestion('s11',0)">
            ДАЛІ ->
          </div>
        </div>
        <div v-if="numberCurrentQuestion===2" class="test-block" id="q11-2">
          {{questions.s11[1].question}}
          <div v-for="ans,aIndex in questions.s11[1].allAnswers"
               :key="ans.title"
               :title="ans.title">
            <label>
              <input type="checkbox"
                     :value="ans.value"
                     @change="controlAnswer('s11',1)"
                     v-model="answers.s11[1]">{{ans.title}}
            </label>
          </div>
          <div class="exit" :class="{unValid: isNotRight}" @click="changeQuestion('s11','q112')">
            ДАЛІ ->
          </div>
        </div>
        <div v-if="numberCurrentQuestion===3" class="test-block" id="q11-3">
          {{questions.s11[2].question}}
          <div v-for="ans,aIndex in questions.s11[2].allAnswers"
               :key="ans.title"
               :title="ans.title">
            <label>
              <input type="checkbox"
                     :value="ans.value"
                     @change="controlAnswer('s11',2)"
                     v-model="answers.s11[2]">{{ans.title}}
            </label>
          </div>
          <div class="exit" :class="{unValid: isNotRight}" @click="changeQuestion('s11',2)">
            ДАЛІ ->
          </div>
        </div>
      </div>
      <div v-if="numberSlides===9" class="slide-9">
        <div class="blocking">
          <h4>ГРОШІ</h4>
          <img src="images/pipes.png" alt="труби">
        </div>
        <div v-if="numberCurrentQuestion===1" class="test-block" id="q122">
          <div>
            {{questions.s12[0].question}}
            <div v-for="ans,aIndex in questions.s12[0].allAnswers"
                 :key="ans.title"
                 :title="ans.title">
              <label>
                <input type="checkbox"
                       :value="ans.value"
                       @change="controlAnswer('s12',0)"
                       v-model="answers.s12[0]">{{ans.title}}
              </label>
            </div>
            <div class="exit" :class="{unValid: isNotRight}" @click="changeQuestion('s12',0)">
              ДАЛІ ->
            </div>
          </div>
        </div>
        <div v-if="numberCurrentQuestion===2" class="test-block" id="q121">
          {{questions.s12[1].question}}
          <div v-for="ans,aIndex in questions.s12[1].allAnswers"
               :key="ans.title"
               :title="ans.title">
            <label>
              <input type="checkbox"
                     :value="ans.value"
                     @change="controlAnswer('s12',1)"
                     v-model="answers.s12[1]">{{ans.title}}
            </label>
          </div>
          <div class="exit" :class="{unValid: isNotRight}" @click="changeQuestion('s12',1)">
            ДАЛІ ->
          </div>
        </div>
      </div>

      <div v-if="numberSlides===10" class="slide-10">
        <div class="task">Відкрийте скриню: відімкніть ключами замки</div>
        <div class="box-all">
          <div class="box">
            <div>
              <img src="images/lock.png" alt="замок" @click="selectLock('lock1')" class="lock1">
            </div>
            <div>
              <img src="images/lock.png" alt="замок" @click="selectLock('lock2')" class="lock2">
            </div>
            <div>
              <img src="images/lock.png" alt="замок" @click="selectLock('lock3')" class="lock3">
            </div>
          </div>
        </div>
      </div>

      <div v-if="numberSlides>10" id="gifts" class="fadeIn">
        <div class="last-slide fadeInText">Вітаємо!
          <br>
          Ви зробили перший крок на шляху до фінансової автономії
        </div>
      </div>
    </div>

    <div class="keys">
      <div class="key hidden" @click="giveKey" id="key1"></div>
      <div class="key hidden" @click="giveKey" id="key2"></div>
      <div class="key hidden" @click="giveKey" id="key3"></div>
    </div>
  </div>
  <div class="footer">
    <div>© 2020, <a href="https://www.facebook.com/samoorg.krop">КОО ВГО "Асоціація сприяння самоорганізації
      населення"</a></div>
    <div><a href="license.html">Ліцензії</a></div>
    <div>Зроблено з любов’ю в <a href="https://programming.kr.ua/ua">Ш++</a></div>
  </div>
</div>

<script>

  const questions = {
    s10: [
      {
        question: "1. Хто такий засновник школи?",
        correctAnswers: [3],
        allAnswers: [
          {
            title: 'директор школи',
            value: 1
          },
          {
            title: 'батьківський комітет',
            value: 2
          },
          {
            title: 'місцева рада депутатів',
            value: 3
          },
          {
            title: 'управління / відділ освіти',
            value: 4
          }
        ]
      },
      {
        question: "2. Які документи має ухвалити засновник?",
        correctAnswers: [1, 2],
        allAnswers: [
          {
            title: 'рішення про переведення шкіл на фінансову автономію',
            value: 1
          },
          {
            title: 'положення про утворення, організацію діяльності та ліквідацію Піклувальних ' +
              '(Наглядових) рад середніх навчальних закладів комунальної форми власності',
            value: 2
          },
          {
            title: 'рішення про ведення окремої бухгалтерії у школах',
            value: 3
          },
          {
            title: 'рішення про створення комунального підприємства «Піклувальна (Наглядова) рада»',
            value: 4
          }
        ]
      },
    ],
    s11: [
      {
        question: "1. Чи допоможе фінансова автономія залучити кошти із різних джерел?",
        correctAnswers: [1],
        allAnswers: [
          {
            title: 'так',
            value: 1
          },
          {
            title: 'ні',
            value: 2
          },
          {
            title: 'не знаю',
            value: 3
          },
        ]
      },
      {
        question: "2. Що робити, щоб фінансова автономія запрацювала?",
        correctAnswers: [1, 2, 3, 4],
        allAnswers: [
          {
            title: 'сформувати стратегію розвитку школи на 3-5 років',
            value: 1
          },
          {
            title: 'провести конкурс до піклувальних (наглядових) рад',
            value: 2
          },
          {
            title: 'налагодити спілкування із громадою',
            value: 3
          },
          {
            title: 'розказувати про діяльність школи',
            value: 4
          },
        ]
      },
      {
        question: "3. Яка роль піклувальної (наглядової) ради школи?",
        correctAnswers: [1, 2, 3],
        allAnswers: [
          {
            title: 'допомагати школі писати стратегію розвитку',
            value: 1
          },
          {
            title: 'допомагати залучати ресурси',
            value: 2
          },
          {
            title: 'контролювати діяльність адміністрації школи',
            value: 3
          }
        ]
      },
    ],
    s12: [
      {
        question: "1. Де взяти гроші?",
        correctAnswers: [1, 2, 3, 4, 5, 6, 7, 8, 9],
        allAnswers: [
          {
            title: 'державний бюджет',
            value: 1
          },
          {
            title: 'місцевий бюджет',
            value: 2
          },
          {
            title: 'гранти вітчизняних і міжнародних організацій',
            value: 3
          },
          {
            title: 'плата за надання навчальних та інших послуг',
            value: 4
          },
          {
            title: 'плата за науково-дослідні роботи',
            value: 5
          },
          {
            title: 'доходи від реалізації продукції',
            value: 6
          },
          {
            title: 'дивіденди від цінних паперів',
            value: 7
          },
          {
            title: 'добровільні внески',
            value: 8
          },
          {
            title: 'інші джерела, не заборонені законодавством',
            value: 9
          }
        ]
      },
      {
        question: "2. Хто допоможе залучити фінансування?",
        correctAnswers: [1],
        allAnswers: [
          {
            title: 'піклувальна (наглядова) рада',
            value: 1
          },
          {
            title: 'батьки',
            value: 2
          },
          {
            title: 'батьківські комітети',
            value: 3
          },
          {
            title: 'управління освіти',
            value: 4
          },
          {
            title: 'депутати місцевих рад',
            value: 5
          }
        ]
      },
    ],
  };

  let t = new Vue({
    el: '#app',
    data() {
      return {
        currentQuestion: 1,
        rightAnswers: 0,
        controlSlide: false,
        puzzleStatus: false,
        currentKey: 0,
        numberTest: 0,
        usedKey: false,
        numberSelect: 0,
        arrayImages: [],
        arrayKeys: [],
        numberSlide: 0,
        foundkeys: 0,
        answers: {
          s10: {
            0: [], 1: []
          },
          s11: {
            0: [], 1: [], 2: []
          },
          s12: {
            0: [], 1: []
          }
        },
        questions,
      }
    },
    computed: {
      howFoundKeys() {
        return this.foundkeys;
      },
      numberSlides() {
        return this.numberSlide;
      },
      isNotRight() {
        return !this.controlSlide;
      },
      puzzleIsHidden() {
        return !this.puzzleStatus;
      },
      nextStatus() {
        return (this.numberSlide === 0 || this.numberSlide > 5 || this.puzzleStatus);
      },
      numberCurrentQuestion() {
        return this.currentQuestion;
      }
    },
    methods: {
      changeSlide() {
        if (this.numberSlide < 5 || (this.controlSlide)) {
          if (this.numberSlide > 6) {
            this.numberTest++;
          }
          const tempSlide = document.querySelector(".slide-" + this.numberSlide);
          tempSlide.classList.add('hidden-slide');
          this.controlSlide = false;
          this.numberSlide < 5 ? setTimeout(() => {
            this.numberSlide++;
          }, 1000) : this.numberSlide++;
        } else {
          if (this.numberSlide === 5) {
            this.puzzleStatus = true;
          }
        }
      },

      selectImage(e) {
        this.numberSelect++;
        this.arrayImages.push(e.target.id);
        e.target.classList.add('selected');
        if (this.numberSelect === 2) {
          setTimeout(() => {
            this.changeImages();
          }, 400);
          this.numberSelect = 0;
        }
      },
      changeImages() {
        let el1 = document.getElementById(this.arrayImages[0]);
        let el2 = document.getElementById(this.arrayImages[1]);
        let temp = [...el1.classList].find(e => e.startsWith('skrynya'));
        let temp2 = [...el2.classList].find(e => e.startsWith('skrynya'));
        el1.classList.replace(temp, temp2);
        el2.classList.replace(temp2, temp);
        el1.classList.remove('selected');
        el2.classList.remove('selected');
        this.arrayImages = [];
        this.controlSkryni();
      },
      controlSkryni() {
        this.controlSlide = true;
        for (let i = 1; i < 4; i++) {
          let id = "skrynya" + i;
          let el = document.getElementById(id);
          if (!el.className.includes(id)) {
            this.controlSlide = false;
          }
        }
        if (this.controlSlide) {
          this.foundkeys = 1;
          this.visibleKeys();
          setTimeout(() => {
            let puzzle = document.getElementsByClassName('puzzle-block');
            puzzle[0].classList.add('hidden-puzzle');
            this.changeSlide();
          }, 3000);
        }
      },
      giveKey(e) {
        let key = e.target.id;
        if (this.arrayKeys.indexOf(key) === -1) {
          this.arrayKeys.push(e.target.id);
          e.target.classList.add("selected-key");
          if (this.foundkeys < 1) {
            return;
          }
          if (!this.usedKey) {
            this.usedKey = true;
          }
        }
      },
      selectLock(nameLock) {
        if (this.usedKey) {
          this.openLock(nameLock);
          this.foundkeys--;
          this.usedKey = false;
          if (this.numberSlide === 10 && this.foundkeys === 0) {
            setTimeout(() => {
              this.numberSlide = 11;
            }, 1000);
          }
        }
      },
      openDoor() {
        let temp1 = document.getElementsByClassName("door");
        for (let i = 0; i < temp1.length; i++) {
          temp1[i].classList.add("open");
        }
      },
      openLock(nameLock) {
        let lock = document.getElementsByClassName(nameLock);
        let selectedKey = document.getElementsByClassName('selected-key');
        for (let i = 0; i < selectedKey.length; i++) {
          if (!selectedKey[i].classList.contains('hidden')) {
            selectedKey[i].classList.add('hidden');
          }
        }
        lock[0].src = "images/lock_key.png";
        if (this.numberSlide === 6) {
          setTimeout(() => {
            let selectedKey = document.getElementsByClassName("selected-key");
            selectedKey[0].classList.replace("selected-key", "hidden");
            let selectedLock = document.getElementsByClassName(nameLock);
            selectedLock[0].classList.add('hidden-none');
            const task = document.getElementById('task-door');
            task.classList.add("hidden");
            this.openDoor();
            this.arrayKeys = [];
            setTimeout(() => {
              let door = document.getElementsByClassName('door-lock');
              door[0].classList.add("hidden");
              setTimeout(() => {
                let outside = document.getElementsByClassName('outside');
                outside[0].classList.remove('hidden');
                door[0].classList.add("hidden-none");
              }, 3000);
            }, 2000);
          }, 500);
          this.controlSlide = true;
        }
      },
      controlAnswer(slideNumber, numberQuestion) {
        this.controlSlide = true;
        let arr2 = questions[slideNumber][numberQuestion].correctAnswers;
        let arr1 = this.answers[slideNumber][numberQuestion];
        if (JSON.stringify(arr1.sort()) !== JSON.stringify(arr2.sort())) {
          this.controlSlide = false;
        }
        if (this.controlSlide && (questions[slideNumber].length - 1 === this.rightAnswers)) {
          if (this.numberTest === this.foundkeys) {
            this.foundkeys++;
            this.visibleKeys();
            if (this.numberSlide === 8) {
              let fires = document.getElementsByClassName("fire-icon");
              for (let i = 0; i < fires.length; i++) {
                fires[i].classList.add("blocking-out");
              }
              let text = document.querySelector(".text-fire");
              text.classList.replace("text-fire", "text-without-fire");
            } else {
              let blocking = document.getElementsByClassName("blocking");
              blocking[0].classList.add("blocking-out");
            }
          }
        }
      },

      visibleKeys() {
        let keys = document.getElementsByClassName("key");
        keys[this.foundkeys - 1].classList.remove('hidden');
      },
      changeQuestion(slideNumber, index) {
        if (this.controlSlide) {
          if (this.controlSlide && (questions[slideNumber].length - 1 === this.rightAnswers)) {
            this.changeSlide();
            this.rightAnswers = 0;
            this.currentQuestion = 1;
          } else {
            this.currentQuestion++;
            this.rightAnswers++;
            this.controlSlide = false;
          }
        }
      }
    }
  })

</script>
</body>
</html>

